/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START BASE Styles */
body {
  background-color: #e8f0f7;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
  min-height: 5000px; /* TODO DELETE: for dev purpose only */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* END BASE Styles*/

/* START HEADER */
.header__social {
  background-color: #cbf7ff;
}

.header {
  background-color: #2f4858;
  width: 100%;
  top: 0;
  position: sticky;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 2em;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  max-width: 4em;
  display: block;
}

.logo__title {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
  padding: 0 0.3em;
}

.nav__list {
  display: flex;
  column-gap: 1em;
}

.nav__link {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: #ffffff;
}

.nav__link::after {
  content: "";
  height: 0.2em;
  width: 100%;
  background-color: #0eaa6b;
  display: block;
  position: relative;
  left: 0;
  bottom: -0.4em;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.nav__link i {
  padding: 0;
  margin-right: 0.4em;
}

.btn__contact {
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #6cbe4c;
  padding: 0.8em 0.8em;
  border-radius: 1.2em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn__contact:hover {
  background-color: #00937e;
}
/* END HEADER */

/* START FOOTER */
.footer {
  background-color: #00937e;
  width: 100%;
  /* bottom: 0;
  position: fixed; */
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo__img {
  max-width: 10em;
  display: block;
}

.footer__logo__title {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-size: 2rem;
  padding: 0 0.3em;
}
/* END FOOTER */

/* Start Hero Section */
.hero-container {
  /* position: relative; */
  color: #ffffff;
}

.hero-image {
  background-image: url("/img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50em;
  width: 100%;
  /* display: block; */
}

.hero-text {
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 2rem;
  /* background-color: #292929;
  padding: 2em 2em;
  border-radius: 0.375em;*/
}
/* End Hero Section */
