/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* START BASE Styles */
body {
  background-color: #f7f7f7;
  font-size: 62.5%;
  font-family: Tahoma, "Segoe UI", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
/* END BASE Styles*/

/* START HEADER */
.header {
  background-color: #2f4858;
  width: 100%;
  top: 0;
  position: sticky;
}

.social__container {
  display: flex;
  justify-content: center;
  background-color: #f3fcee;
  width: 100%;
}

.social__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  column-gap: 1em;
  font-size: 1.1rem;
}

.social__list {
  display: flex;
  align-items: center;
  column-gap: 1em;
  font-size: 1.6rem;
}

.nav__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 1.3rem;
}

.logo__img {
  width: 5rem;
}

.logo p {
  font-size: 1.5rem;
  color: #ffffff;
}

.nav__main-menu {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  column-gap: 2.2em;
}

.nav__link i {
  padding: 0;
  margin-right: 0.4em;
}

.nav__link {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.75);
  position: relative;
}

.nav__link:hover,
.nav__link:focus {
  color: #ffffff;
}

.nav__link::after {
  content: "";
  height: 0.2em;
  width: 100%;
  background-color: #0eaa6b;
  display: block;
  position: relative;
  left: 0;
  bottom: -0.4em;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

.nav__link:hover::after {
  opacity: 1;
}

.btn__contact {
  font-size: 1rem;
  color: #ffffff;
  background-color: #6cbe4c;
  padding: 0.7em 0.7em;
  border-radius: 1.2em;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn__contact:hover {
  background-color: #00937e;
}
/* END HEADER */

/* START Content */
.mainbody__container {
  height: 800px; /*DELETE for dev only*/
  /* border-style: dashed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3em;
}

.hero__container {
  /* border-style: dashed; */
  background-color: #2f4858;
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  position: relative;
  width: 80%;
  min-height: 65em;
  margin-top: 1.5em;
}

.hero__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
}

.hero__text {
  border-style: solid;
  border-color: #6cbe4c;
  border-radius: 1em;
  display: flex;
  align-items: center;
  position: absolute;
  font-size: 2.5rem;
  color: #ffffff;
  width: 15em;
  height: 7em;
  padding: 1em 0 1em 1em;
  top: 3em;
  left: 2.5em;
}

.article1__content {
  border-style: dashed;
  height: 300px; /*DELETE for dev only*/
  width: 80%;
}
/* END Content */
